autopep8
click
colorama
et-xmlfile
Flask
Flask-WTF
gunicorn
itsdangerous
Jinja2
MarkupSafe
numpy
opencv-python
openpyxl
pandas
pdf2image
Pillow
pycodestyle
pytesseract
python-dateutil
python-dotenv
pytz
six
toml
Werkzeug
WTForms
