<!-- Footer Section Begin -->
<footer class="footer-section">
  <div class="footer__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="footer__top-call">
            <h5>Need Help? Contact us</h5>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="footer__top-auth">
            <h5>Join Now And Have Free Month Of Automated Vouching!</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__text set-bg" data-setbg="../static/img/footer-bg.png">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="footer__text-about">
            <div class="footer__logo">
              <a href="./index.html"
                ><img src="../static/img/--vouch_logo.png" alt=""
              /></a>
            </div>
            <p>prod by blvnk.</p>
            <div class="footer__social">
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-youtube-play"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="footer__text-widget">
            <h5>--vouch</h5>
            <ul>
              <li><a href="#">Company</a></li>
              <li><a href="#">About Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="footer__text-widget">
            <h5>Services</h5>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="footer__text-widget">
            <h5>Contact Us</h5>
            <ul class="footer__widget-info">
              <li>
                <span class="fa fa-map-marker"></span>blvnk's basement.<br />
              </li>
              <li><span class="fa fa-mobile"></span>420</li>
              <li>
                <span class="fa fa-headphones"></span>
                --vouch@gmail.com
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->
