<!-- navbar menu begin -->

<!-- Offcanvas Menu Begin -->
<div class="offcanvas__menu__overlay"></div>
<div class="offcanvas__menu__wrapper">
  <div class="canvas__close">
    <span class="fa fa-times-circle-o"></span>
  </div>
  <div class="offcanvas__logo">
    <a href="#"><img src="../static/img/--vouch_logo.png" alt="" /></a>
  </div>
  <nav class="offcanvas__menu mobile-menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#">Pages</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header-section header-normal">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="header__logo">
          <a href="/"><img src="../static/img/--vouch_logo.png" alt="" /></a>
        </div>
      </div>
      <div class="col-lg-9 col-md-9">
        <nav class="header__menu">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="canvas__open">
      <span class="fa fa-bars"></span>
    </div>
  </div>
</header>
<!-- Header End -->

<!-- navbar menu end -->
