{% extends 'layout.html' %} {% block body %}

 <!-- Feature Section Begin -->
 <section class="feature-section spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-title">
                  <h3>--vouch Features</h3>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="feature__item">
                  <span class="fa fa-sliders"></span>
                  <h5>Simple & Efficient</h5>
                  <p>--vouch features simple yet efficient data processing.</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="feature__item">
                  <span class="fa fa-database"></span>
                  <h5>0 Document Storage</h5>
                  <p>Despite being seemingly difficult, vouching requires a small amount of data to work. Hence, --vouch stores only a portion of extracted data. Hence, it's privacy focused as well.</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="feature__item">
                  <span class="fa fa-globe"></span>
                  <h5>Open Source</h5>
                  <p>--vouch's API is open source, meaning you can use --vouch on your <b>home machine for free</b>. --vouch's API is on Github, check the footer for the link.</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="feature__item">
                  <span class="fa fa-shield"></span>
                  <h5>Secure</h5>
                  <p>All data stored are on a necessity to use basis. All data pertaining to documents with the "encrypted" tag are encrypted.  Data retention of 6 months.</p>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Services Section End -->

<!-- Pricing Section Begin -->
<section class="pricing-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-7">
        <div class="section-title normal-title">
          <h3>Choose your plan</h3>
        </div>
      </div>
    </div>
    <div class="">
      <div class="row monthly__plans active">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="pricing__item">
            <h4>Basic</h4>
            <h3>Free</h3>
            <ul>
              <li>Documents</li>
              <li>1 User Account</li>
              <li>≤15 Pages</li>
            </ul>
            <a href="/vouching" class="primary-btn">Choose Plan</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="pricing__item">
            <h4>Pro</h4>
            <h3>$15 <span>/ year</span></h3>
            <ul>
              <li>Documents & Images</li>
              <li>5 User Accounts</li>
              <li>≤100 Pages</li>
            </ul>
            <a href="#" class="primary-btn">In Progress</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="pricing__item">
            <h4>Premium</h4>
            <h3>$50 <span>/ year</span></h3>
            <ul>
              <li>Documents & Images</li>
              <li>Unlimited User Accounts</li>
              <li>Unlimited Pages</li>
            </ul>
            <a href="#" class="primary-btn">In Progress</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Pricing Section End -->

<!-- Team Section Begin -->
<section class="team-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <div class="section-title normal-title">
          <h3>Meet our team</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="team__item">
          <div class="team__pic">
            <img src="../static/img/team/blvnk_pfp.png" alt="" />
          </div>
          <div class="team__text">
            <h5>Joseph Poon</h5>
            <span>Coder</span>
            <p>prod by blvnk.</p>
            <div class="team__social">
              <a href="https://twitter.com/adore_blvnk" class="twitter"
                ><i class="fa fa-twitter"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="team__item">
          <div class="team__pic">
            <img src="../static/img/team/default_pfp.png" alt="" />
          </div>
          <div class="team__text">
            <h5>Jia Xin Liu</h5>
            <span>.</span>
            <p>.</p>
            <div class="team__social">
              <a href="#" class="twitter">.</i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="team__item">
          <div class="team__pic">
            <img src="../static/img/team/default_pfp.png" alt="" />
          </div>
          <div class="team__text">
            <h5>Hendrik Yap</h5>
            <span>.</span>
            <p>.</p>
            <div class="team__social">
              <a href="#" class="twitter">.</i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="team__item">
          <div class="team__pic">
            <img src="../static/img/team/default_pfp.png" alt="" />
          </div>
          <div class="team__text">
            <h5>Goh Rui Kun</h5>
            <span>.</span>
            <p>.</p>
            <div class="team__social">
              <a href="#" class="twitter">.</i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team Section End -->

{% endblock %}
