{% extends 'layout.html' %} {% block body %}

<!-- Hero Section Begin -->
<section class="hero-section">
  <div class="hero__slider owl-carousel">
    <div class="hero__item set-bg" data-setbg="../static/img/hero/hero-1.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="hero__text">
              <h5>Starting At Only $ 2.8/month</h5>
              <h2>wtf is a<br />vouching service.</h2>
              <a href="#" class="primary-btn">Get started now</a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="hero__img">
              <img src="../static/img/hero/hero-right.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__item set-bg" data-setbg="../static/img/hero/hero-1.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="hero__text">
              <h5>Starting At Only $ 2.8/month</h5>
              <h2>wtf is a<br />vouching service.</h2>
              <a href="#" class="primary-btn">Get started now</a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="hero__img">
              <img src="../static/img/hero/hero-right.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->

{% endblock %}